@model WebApplication1.Models.SanPham

<div style="margin-left:100px;" class="product-details">
    <h3 style="margin-left:500px;margin-bottom:20px;">Thông tin sản phẩm</h3>

    <table class="table">
        <tr>

            <th>@Html.DisplayNameFor(model => model.TenSP)</th>
            <td>@Html.DisplayFor(model => model.TenSP)</td>
            <th>@Html.DisplayNameFor(model => model.AnhMinhHoa)</th>
            <td>@Html.DisplayFor(model => model.AnhMinhHoa)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.GiaSP)</th>
            <td>@Html.DisplayFor(model => model.GiaSP)</td>
            <th>@Html.DisplayNameFor(model => model.AnhMoTa1)</th>
            <td>@Html.DisplayFor(model => model.AnhMoTa1)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.AnhMinhHoa1)</th>
            <td>@Html.DisplayFor(model => model.AnhMinhHoa1)</td>
            <th>@Html.DisplayNameFor(model => model.AnhMoTa3)</th>
            <td>@Html.DisplayFor(model => model.AnhMoTa3)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.AnhMoTa2)</th>
            <td>@Html.DisplayFor(model => model.AnhMoTa2)</td>
            <th>@Html.DisplayNameFor(model => model.AnhMoTa5)</th>
            <td>@Html.DisplayFor(model => model.AnhMoTa5)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.AnhMoTa4)</th>
            <td>@Html.DisplayFor(model => model.AnhMoTa4)</td>
            <th>@Html.DisplayNameFor(model => model.MoTaSP)</th>
            <td>@Html.DisplayFor(model => model.MoTaSP)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.AnhMoTa6)</th>
            <td>@Html.DisplayFor(model => model.AnhMoTa6)</td>
            <th>@Html.DisplayNameFor(model => model.HDH)</th>
            <td>@Html.DisplayFor(model => model.HDH)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ManHinh)</th>
            <td>@Html.DisplayFor(model => model.ManHinh)</td>
            <th>@Html.DisplayNameFor(model => model.CameraTruoc)</th>
            <td>@Html.DisplayFor(model => model.CameraTruoc)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CameraSau)</th>
            <td>@Html.DisplayFor(model => model.CameraSau)</td>
            <th>@Html.DisplayNameFor(model => model.Ram)</th>
            <td>@Html.DisplayFor(model => model.Ram)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Chip)</th>
            <td>@Html.DisplayFor(model => model.Chip)</td>
            <th>@Html.DisplayNameFor(model => model.Sim)</th>
            <td>@Html.DisplayFor(model => model.Sim)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.DungLuong)</th>
            <td>@Html.DisplayFor(model => model.DungLuong)</td>
            <th>@Html.DisplayNameFor(model => model.PhanLoai.TenPhanLoai)</th>
            <td>@Html.DisplayFor(model => model.PhanLoai.TenPhanLoai)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Pin)</th>
            <td>@Html.DisplayFor(model => model.Pin)</td>

        </tr>
    </table>
    <p>
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDSanpham }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Quay lại danh sách", "Index", new { @class = "btn btn-secondary" })
    </p>
</div>

