@model List<WebApplication1.Models.ThongKeTheoTuanModel>
@{
    Layout = null;
}
@{ var formatMoney = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");}


<link rel="stylesheet" href="~/Style/admin.css">
<link rel="stylesheet" href="~/Style/TKDS.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<style>
    * {
        margin: 0px;
    }

    html {
        background-color: #aacbde;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        background-color: #fff;
        box-shadow: 1px 1px 1px 1px grey;
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
    /*Header*/
    .header {
        list-style: none;
        display: flex;
        justify-content: end;
        background-color: rgb(37, 186, 186);
        width: 100%;
        height: 70px;
    }

    .header-list {
        padding-left: 20px;
        color: black;
        padding-right: 10px;
        cursor: pointer;
    }

    .list-active-item {
        position: relative;
        top: 20px;
        text-decoration: none;
        margin-top: 20px;
        font-weight: bold;
        cursor: pointer;
        color: black;
    }

    :hover.list-active-item {
        color: white;
    }

    .title-big {
        position: relative;
        width: max-content;
        left: 42%;
        margin-top: 50px;
        display: block;
        font-size: 1.8em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    /* Nut bam */
    button {
        --button_radius: 0.75em;
        --button_color: rgb(27, 177, 82);
        --button_outline_color: #000000;
        --delete-button_color: rgb(235, 13, 13);
        font-weight: bold;
        border: none;
        border-radius: var(--button_radius);
        background: var(--button_outline_color);
        padding: 0;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    /* nút thêm mới */
    .Newitem-Button {
        display: block;
        box-sizing: border-box;
        text-decoration: none;
        border: 2px solid var(--button_outline_color);
        border-radius: var(--button_radius);
        padding: 0.75em 2.5em;
        background: var(--button_color);
        color: var(--button_outline_color);
        transform: translateY(-0.2em);
        transition: transform 0.1s ease;
    }

    button:hover .Newitem-Button {
        /* Pull the button upwards when hovered */
        transform: translateY(-0.33em);
        background-color: rgb(27, 177, 82, 0.7);
        color: white;
    }

    button:active .Newitem-Button {
        /* Push the button downwards when pressed */
        transform: translateY(0);
    }



    /* Nút xóa */
    .deletebtn {
        display: block;
        box-sizing: border-box;
        text-decoration: none;
        cursor: pointer;
        border: 2px solid var(--button_outline_color);
        border-radius: var(--button_radius);
        padding: 0.75em 2.5em;
        background: var(--delete-button_color);
        color: var(--button_outline_color);
        transform: translateY(-0.2em);
        transition: transform 0.1s ease;
    }

    button:hover .deletebtn {
        transform: translateY(-0.33em);
        background-color: rgb(235, 13, 13, 0.7);
        color: white;
    }

    button:active .deletebtn {
        transform: translateY(0);
    }

    .flex-modifibtn {
        margin-top: 20px;
        display: flex;
    }

    .modifi-space {
        width: 120px;
    }

    .total-table {
        font-weight: bold;
        position: relative;
        left: -40%;
    }

    #myTable_filter {
        margin-bottom: 10px !important;
        margin-right: 5px !important;
    }

    .dataTables_length {
        margin-left: 5px !important;
    }

    .dataTables_wrapper .dataTables_length select {
        border: 1px solid #000 !important;
    }

    .dataTables_info {
        margin-left: 5px !important;
    }

    .dataTables_wrapper .dataTables_filter input {
        border: 1px solid #000 !important;
    }

</style>

<div style="margin:0px;max-width:1500px;display:flex" class="container_admin">
    <div class="sidebar">
        <a style="color:black;text-decoration:none;" href="@Url.Action("Index","HomePage")" class="item">
            <img class="icon" src="~/Image/icon_admin1.png" alt="">
            <div style="list-style: bold;font-weight: 600; font-size: 24px;" class="text">
                Admin website

            </div>
        </a>
        <hr>
        <a style="color:black;text-decoration:none;" href="@Url.Action("Index","AdminProduct")" class="item">
            <img class="icon" src="~/Image/icon_product.png" alt="">
            <div class="text">
                Sản phẩm

            </div>
        </a>
        <a style="color:black;text-decoration:none;" href="@Url.Action("Index","Admin")" class="item">
            <img class="icon" src="~/Image/icon_khachhang.jpg" alt="">
            <div class="text">
                Thống tin khách hàng

            </div>
        </a>
        <a style="color:black;text-decoration:none;" href="@Url.Action("DanhSachDonHang","QlyNhapHang")" class="item">
            <img class="icon" src="~/Image/icon_bil.png" alt="">
            <div class="text">
                Danh sách đơn hàng

            </div>
        </a>
        <a style="color:black;text-decoration:none;" href="@Url.Action("DanhSachChuaDuyet","QlyNhapHang")" class="item">
            <img class="icon" src="~/Image/icon_bill.png" alt="">
            <div class="text">
                Chờ duyệt

            </div>
        </a>
        <a style="color:black;text-decoration:none;" href="@Url.Action("Index","AdminFavorite")" class="item">
            <img class="icon" src="~/Image/favorite1.jpg" alt="">
            <div class="text">
                Khách hàng yêu thích

            </div>
        </a>
        <a style="color:black;text-decoration:none;" href="@Url.Action("Index","TKDS")" class="item">
            <img class="icon" src="~/Image/icon_thongke.jpg" alt="">
            <div class="text">
                Thống kê doanh thu

            </div>
        </a>
    </div>
    <div class="nav">
        <div class="content">
            @*Danh muc*@
            <div class="title-big"> Bảng Thống Kê Doanh Số</div>
            <div style="width:1400px" class="main-admin">
                <div style="display:flex;justify-content:space-around;margin-left:100px;margin-bottom:50px" class="cards">
                    <div style="border-radius: 10px; background: #13f71c; padding: 10px; width: 400px; display: flex; margin-right: 50px" class="card-single1 ">
                        <div style="margin-right:30px">
                            <span class="">
                                <i style="font-size:2.5rem;" class="fa-regular fa-money-bill-1"></i>
                            </span>
                        </div>
                        <div>
                            <h4>@string.Format("{0:0,0}", @TempData["TongDoanhThu"]) VNĐ</h4>
                            <span style="margin-right:96px">Tổng lợi nhuận</span>
                            <i class="fa-solid fa-circle-info"></i>
                            <a href="@Url.Action("DanhSachDonHang","QlyNhapHang")">Chi tiết</a>
                        </div>


                    </div>
                    <div style="border-radius: 10px; background: #f71313; padding: 10px; width: 350px; display: flex; margin-right: 50px" class="card-single1 ">
                        <div style="margin-right:30px">
                            <span class="">
                                <i style="font-size:2.5rem;" class="fa-solid fa-calendar-week"></i>
                               
                            </span>
                        </div>
                        <div>
                            <h4>@ViewBag.CountOrderDetail</h4>
                            <span style=" margin-right: 30px;">Tổng hóa đơn chi tiết</span>
                            <i class="fa-solid fa-circle-info"></i>
                            <a href="@Url.Action("DanhSachDonHang","QlyNhapHang")">Chi tiết</a>
                        </div>

                    </div>

                    <div style="border-radius: 10px; background: #ebec2e; padding: 10px; width: 350px; display: flex; margin-right: 50px " class="card-single2">
                        <div style="margin-right:30px">
                            <span class="">
                                <i style="font-size:2.5rem;" class="fa-solid fa-layer-group"></i>
                            </span>
                        </div>
                        <div>
                            <h4>@ViewBag.CountProduct</h4>
                            <span style=" margin-right: 7px;">Tổng các loại sản phẩm</span>
                            <i class="fa-solid fa-circle-info"></i>
                            <a href="@Url.Action("Index","AdminProduct")">Chi tiết</a>
                        </div>

                    </div>

                    <div style="border-radius: 10px; background: #f77213; padding: 10px; width: 300px; display: flex; margin-right: 50px " class="card-single3">
                        <div style="margin-right:30px">
                            <span class="">
                                <i style="font-size:2.5rem;" class="fa-solid fa-cart-flatbed-suitcase"></i>
                            </span>
                        </div>
                        <div>
                            <h4>@TempData["TongDonHang"]</h4>
                            <span style=" margin-right: 30px;">Đơn đặt hàng</span>
                            <i class="fa-solid fa-circle-info"></i>
                            <a href="@Url.Action("DanhSachChuaDuyet","QlyNhapHang")">Chi tiết</a>
                        </div>

                    </div>

                </div>
            </div>
            <div>
                <!-- Đoạn mã canvas để hiển thị biểu đồ cột -->
                <canvas style=" width: 1100px!important; height: 400px!important;" id="salesChart" width="600" height="200"></canvas>
            </div>
            <div>


                <table id="myTable" class="display">
                    <thead>
                        <tr>
                            <th>Từ ngày</th>
                            <th>Đến ngày</th>
                            <th>Tổng số hóa đơn</th>
                            <th>Tổng doanh thu</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.TuNgay.ToShortDateString()</td>
                                <td>@item.DenNgay.ToShortDateString()</td>
                                <td>@item.SoHoaDon</td>
                                <td>@String.Format(formatMoney, "{0:c0}", @item.TongDoanhThu)</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    $(document).ready(function () {
        $('#myTable').DataTable();
    });
     var salesData = @Html.Raw(Json.Encode(Model));
    var labels = salesData.map(function (item) {
        return moment(item.TuNgay).format('YYYY-MM-DD') + " - " + moment(item.DenNgay).format('YYYY-MM-DD');
    });

    var data = salesData.map(function(item) {
        return item.TongDoanhThu;
    });

    var ctx = document.getElementById('salesChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Doanh thu tổng cộng',
                data: data,
                backgroundColor: '#9900FF',
                borderColor: '#000077',
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Doanh thu'

                    }
                },
                x: {
                    title: {
                        display: true,
                        text: 'Ngày'
                    }
                }
            },
            plugins: {
                legend: {
                    display: true,
                    labels: {
                        font: {
                            size: 25, // Kích thước chữ
                            weight: 'bold' // Độ đậm
                            
                        }
                    }
                }
            }
        }
    });
</script>