@using WebApplication1.Models;
@{
    KhachHang kh = (KhachHang)Session["TaiKhoan"];
}
@{
    Cart cart = Session["Cart"] as Cart;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link rel="stylesheet" href="~/Style/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Style/slide.css">
    <link rel="stylesheet" href="~/owl.carousel.min.css">
    <link rel="stylesheet" href="~/owl.theme.default.min.css">
    <link rel="stylesheet" href="Style/base.css">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <style>
        .login_btn {
            position: relative;
        }

        .sub-menu {
            display: none;
        }

        .login_btn:hover .sub-menu {
            display: block;
            position: absolute;
            background: #fff;
            border: 1px solid #ddd;
            top: 60px;
            z-index: 1;
            width: 180px;
            border-radius: 5px;
            box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0 0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);
        }

        .sub-menu:after {
            content: "";
            display: inline-block;
            position: absolute;
            left: -120px;
            top: -40px;
            width: 150px;
            height: 100px;
        }
        .sub-menu-dm{
            display:none;
        }
        .category_icon:hover .sub-menu-dm {
            display: block;
            position: absolute;
            background: #fff;
            border: 1px solid #ddd;
            top: 75px;
            z-index: 1;
            width: 100px;
            height:200px;
            border-radius: 5px;
            box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0 0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);
        }

        .sub-menu-dm:after {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0px;
            top: -10px;
            width: 150px;
            height: 20px;
            
        }
    </style>
    <div class="header">
        <div class="container">

            <div class="row">
                <div class="logo">
                    <a href="@Url.Action("Index","HomePage")">
                        <img class="logo_image" src="~/Image/bbphone.png" alt="">
                    </a>
                </div>
                <a style="text-decoration: none;list-style: none;color: #000;" class="category">
                    <div class="category_icon">
                        <i style="margin-right:10px;margin-top:5px" class="fa-solid fa-bars"></i>
                        <span>Danh mục</span>
                        <div  class="sub-menu-dm">
                            <a style="margin-right: 84px; margin-top: 10px; float: left;margin-left:8px " class="nav-link" href="@Url.Action("SanPhamTheoPhanLoai", "Product", new { phanloai = "iphone" })">
                                <img style="width:80px;height:40px" src="~/Image/logo-apple.jpg" alt="Alternate Text" />
                            </a>
                            <a style="margin-right: 20px; margin-top: 10px; float: left; margin-left: 8px " class="nav-link" href="@Url.Action("SanPhamTheoPhanLoai", "Product", new { phanloai = "samsung" })">
                                <img style="width:80px;height:40px" src="~/Image/logo_ss.jpg" alt="Alternate Text" />
                            </a>
                            <a style="margin-right: 20px; margin-top: 10px; float: left; margin-left: 8px " class="nav-link" href="@Url.Action("SanPhamTheoPhanLoai", "Product", new { phanloai = "realme" })">
                                <img style="width:80px;height:40px" src="~/Image/logo_realme.jpg" alt="Alternate Text" />
                            </a>
                            <a style="margin-right: 20px; margin-top: 10px; float: left; margin-left: 8px " class="nav-link" href="@Url.Action("SanPhamTheoPhanLoai", "Product", new { phanloai = "oppo" })">
                                <img style="width:80px;height:30px" src="~/Image/oppo.png" alt="Alternate Text" />
                            </a>
                        </div>
                    </div>


                </a>
                <!--  -->

                <div class="search-input">
                    <form action="/TimKiem/KQTimKiem" method="post">

                        <input  name="txtTimKiem" class="form_search " type="search" placeholder="Tìm kiếm" aria-label="Search">
                        
                    </form>
                    
                </div>


                <div class="favorite">
                    <a href="@Url.Action("Index","Favorite")">

                        <div class="favorite_icon">
                            <i style="font-size: 2.4rem;" class="fa-solid fa-heart"></i>
                            <div class="favorite_name">
                                <p style="font-size: 14px;color: black; margin-bottom: 10px; ">Yêu thích</p>
                            </div>
                        </div>
                    </a>
                </div>
                @if (cart != null)
            {

                <div class="item cart_btn">
                    <a href="@Url.Action("Index","Cart")">
                        <div style="display: inline-block; position: relative; cursor: pointer" class="header__cart-wrap">

                            <i style="font-size: 2.4rem;" class="fa-solid fa-cart-flatbed-suitcase cart_icon"></i>
                            <span style=" position: absolute; border-radius: 50%; background-color: #fdd835; top: -20%;
                                right: -8px; width: 25px; height: 20px; color: #000;
                                text-align: center; line-height: 22px; padding: 0 4px;" class="header__cart-notice">
                                @cart.Total_quantity()
                            </span>
                            <p>Giỏ hàng</p>
                        </div>
                    </a>
                </div>
            }
                @if (kh != null)
                {
                    <div class="login">
                        <div class="login_btn">
                            <a style="text-decoration: none;" href="@Url.Action("Index", "CustomerUpdate", new { IDUser = kh.IDUser })" class="login_btn">
                                <i class="fa-solid fa-user login_icon"></i>
                                <p>@kh.TenKH</p>

                            </a>
                            <div class="sub-menu">
                                <a style="float:left;margin-right:20px;color:black;" href="@Url.Action("LogOut", "LoginRegister")"><i style="margin-right:15px" class="fa-solid fa-right-to-bracket"></i>Đăng xuất</a>
                                <a style="color: black; float: left; margin-right: 20px;" href="@Url.Action("TinhTrangDonHang","QlyNhapHang")"><i style="margin-right:15px" class="fa-solid fa-timeline"></i>Lịch sử mua hàng</a>
                                <a style="float: left; margin-right: 20px; color: black;" href="@Url.Action("Index", "CustomerUpdate", new { IDUser = kh.IDUser })"><i style="margin-right:15px" class="fa-solid fa-user"></i>Cá nhân</a>

                            </div>
                        </div>

                    </div>
                }
                else
                {
                    <div class="login">
                        <a style="text-decoration: none;" href="@Url.Action("Login","LoginRegister")" class="login_btn">
                            <i class="fa-solid fa-user login_icon"></i>
                            <p>Đăng nhập</p>
                        </a>
                    </div>
                }

            </div>



        </div>
    </div>

    @RenderBody()

    <footer>
        <div style="position: relative;margin:0;padding:0;" class="footer">
            <div style="; margin-top: 200px;" class="footer_container">
                <div class="footer_items">
                    <h6>Địa chỉ chúng tôi</h6>
                    <ul>
                        <li><i class="fa-solid fa-location-dot"></i> Địa chỉ : 828 Sư Vạn Hạnh, phường 12, Quận 10</li>
                        <li> <i class="fa-solid fa-phone-flip"></i> HotLine : </li>
                        <li> <i class="fa-solid fa-envelope"></i> Email : contact@st.huflit.edu.vn</li>

                    </ul>
                </div>
                <div class="footer_items">
                    <h6>Về chúng tôi</h6>
                    <ul>
                        <li><a href="">Giới thiệu về chúng tôi</a></li>
                        <li><a href="">Chính sách bảo mật</a></li>
                        <li><a href="">Chính sách sử dụng</a></li>

                    </ul>
                </div>
                <div class="footer_items">
                    <h6>Kết nối với chúng tôi</h6>
                    <div class="connect_content">
                        <div class="connect_content_items">
                            <a href="">
                                <img class="connect_content_items_img" src="~/Image/facebook.png" alt="">
                            </a>
                        </div>
                        <div class="connect_content_items">
                            <a href="">
                                <img class="connect_content_items_img" src="~/Image/cn_ytb.png" alt="">
                            </a>
                        </div>
                        <div class="connect_content_items">
                            <a href="">
                                <img class="connect_content_items_img" src="~/Image/twitter.png" alt="">
                            </a>
                        </div>
                        <div class="connect_content_items">
                            <a href="">
                                <img class="connect_content_items_img" src="~/Image/instagram.png" alt="">
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    
</body>
</html>
<script>
    const searchInput = document.getElementById("searchInput");
    const searchButton = document.getElementById("searchButton");
    
    searchButton.addEventListener("click", () => {
        const SearchString = searchInput.value;
        window.location.href = "/HomePage/Index?SearchString=" + SearchString;
    });
    SearchString = encodeURIComponent(SearchString);
</script>

