@model List<WebApplication1.Models.SanPham>
@{
    ViewBag.Title = "SanPhamTheoPhanLoai";
}
@using WebApplication1.Models;
@{ var formatMoney = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Image/logo-no-background.png" type="">
    <title>Đồng hồ</title>
    <link rel="stylesheet" href="~/Style/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Style/slide.css">
    <link rel="stylesheet" href="~/owl.carousel.min.css">
    <link rel="stylesheet" href="~/owl.theme.default.min.css">
    <link rel="stylesheet" href="/Style/base.css">
</head>
<body>
    <div class="container_list_items">
        <div style="margin-left: 170px;">
            <div style="margin: 20px 0;" class="product_all">
                <div style="font-size: 30px;text-align: center;" class="">TẤT CẢ SẢN PHẨM</div>
            </div>
            <div style="display: flex;flex-wrap: wrap;" class="container_slider_product">

                @foreach (var item in Model)
                {
                    <div style="margin-top: 10px;height:390px;" class="element">
                        <a href="@Url.Action("Index","Product",new { id = item.IDSanpham })">
                            <div style="padding-left: 20px;" class="card">
                                <img style="width: 195px;height:231px;" class="card-img-top" src="~/Image/@item.AnhMinhHoa" alt="Card image cap">
                                <div style="margin-bottom:4px;" class="overlay">
                                    <img style="height: 235px;border-radius: 15px 15px 0 0;width: 235px;" class="overlay_img" src="~/Image/@item.AnhMoTa2" alt="">
                                </div>
                                <div style="margin-top:12px" class="card-body">
                                    <div class="product-name">
                                        <p class="card-text">@item.TenSP @item.DungLuong | Chính hãng VN/A</p>
                                    </div>
                                    <div class="card-badge">
                                        <p class="card-badge-info-items">
                                            Ram: @item.Ram
                                        </p>
                                        <p class="card-badge-info-items">
                                            @item.DungLuong
                                        </p>
                                    </div>
                                    <h5>  @String.Format(formatMoney, "{0:c0}", item.GiaSP)</h5>
                                    <a href="@Url.Action("ThemMucYeuThich", "Favorite", new { IDSanPham = item.IDSanpham })" class="love-product">
                                        @{
                                            CNPMNC_ltEntities db = new CNPMNC_ltEntities();
                                            // Kiểm tra xem sản phẩm đã có trong bảng Favorite hay chưa
                                            if (Session["TaiKhoan"] != null)
                                            {
                                                var kh = (KhachHang)Session["TaiKhoan"];
                                                var isFavorited = db.YeuThich.Any(f => f.IDSanPham == item.IDSanpham && f.IDUser == kh.IDUser);
                                                string heartIconClass = isFavorited ? "fa-solid fa-heart favorite-icon-red" : "fa-regular fa-heart";
                                                <i class="@heartIconClass"></i>
                                            }
                                        }
                                    </a>
                                </div>
                            </div>
                        </a>

                    </div>
                }

            </div>
        </div>
</body>

